body {
  background: #6d6e5c;
  color: #eeeeec;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10pt;
  line-height: 150%;
}
#header {
  background: url('../img/header.jpg') no-repeat;
  background-size: cover;
  height: 10em;    
}

iframe {
border: none;
padding: 0;
margin:0;
overflow:hidden;
width: 100%;
height: 100%;
}

.uitleg {
  padding: 1em;
}
.mapviewer {
height: 30em;
background: #eeeeec;
}

.video {
height:30em;
}
.spacer {
height:3em;
}
.content {
    cursor: pointer;
}
.space {
	padding: 1em;
}
#dhs {
	background:#40661b;
	box-shadow: 0px 2px 5px black;
}

#dhs a{
	color: #bbbbb9;
}

#bagviewer {
	background:#5c3566;
	box-shadow: 0px 2px 5px black;
}

#bagviewer a{
	color: rgb(136, 138, 133);
}

#phoenix {
background: #d96a00;
box-shadow: 0px 2px 5px black;
}