@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
path {
  fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;
}
h1 {
  font-family: 'system-ui', sans-serif;
  font-size: 1.5em;
}
h2 {
  text-align: center;
  color: #74997A;
}
body, html {
  margin: 0px;
  padding:0px;
  background: url('../img/invtopography.png') fixed;
  color: #081021;
 font-family: 'Lora', serif;line-height: 1.5;
}
a {
   font-family: 'system-ui', sans-serif;
   color:  rgba(24,40,73,0.7);
   text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #333;
}
#content {
  display: flex;
}
header {
  height: 120px;  
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: #87ad7e;
  background: url('../img/header2.jpg');
  box-shadow: 0px 1px 6px #74997A;
  z-index: 1;

    background-size: cover;
      

}
header h1 {
   color: #bbb;
    mix-blend-mode: color-dodge;
    padding-left: 2vw;
    width: 94vw;
}
header  a {
    float: right;
    color: #888 !important;
}
#sidebar {
  background: #081021;
  height: 100vh;
  width: 120px;
  box-shadow: 2px 0px 4px rgba(24,40,73,0.5);      
  display: none;
  z-index:2;
  border-right: solid 1px black;
  flex: 0 0 120px;
  position: sticky;
  top: 0;
}
#projects {
  display: inline-block;
  background: url('../img/topography.png');    
  box-shadow: 4px 0px 6px #081021 ;    
  border-right: solid 1px #728fce;  
}
.project {
  display: flex;
  padding: 2rem;      
}
.prj {
  margin: 1rem;
  width: 1005;
}
.placeholder, .noframe {
  width: 100%;
  background: #eeeeec;
  border: solid 1px grey;
  cursor: pointer;
  box-shadow: 0px 0px 10px grey;
  border-radius: 3px;
  margin-bottom: 1px;
  margin-right: 1px;
}
.placeholder:hover, .noframe:hover {
  box-shadow: 0px 0px 5px grey;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.placeholder img, .noframe img {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.5s;
}
.placeholder img:hover, .noframe img:hover {
  filter: blur(3px);
}
.project {
  display: flex;
  flex-direction: column-reverse;
  padding: 2rem;      
}
#projectpage {
  width: 96vw;
  height: 96vh;
  background: white;
  border: solid 1px black;
  box-shadow: 0px 0px 6px #081021 ;    
  z-index: 12;
  position: fixed;
  top:2vh;
  left:2vw;
  bottom: 2vw;
  right: 2vw;
  border-radius: 3px;
  display: none;
  flex-direction: column; 
  transition: opacity 1s ease;
  opacity: 0;
  padding:2px;
}
#projectpage iframe {
  flex-grow: 1;
  border: none;
  margin: 1px;
  width: 100%;
}
#iframeheader {
  display: flex;
  padding: 0 10px;
}
#close {    font-family: 'system-ui', sans-serif;
    font-size: 1.5em;
    position: absolute;
    right: 10px;
    border: solid 1px white;
    border-radius: 3px;
    padding: 0px 8px 2px 8px;
    cursor: pointer;
      }
#close:hover {
  border: solid 1px grey;
}
#close:active {
  background: #eeeeec;
}
p:hover a {
  text-shadow: 0px 0px 2px rgba(24,40,73,0.3);
}
@media (min-width: 768px) { 
  .prj {
    min-width: 250px;
    width: 50%;
  }
  .project {
    display: flex;      
    flex-direction: row;      
  }
}

@media (min-width: 992px) { 
  body, html {
    font-size: 110%;  
  }
  #sidebar {
    display: inline-block;
  }
  .img {
    max-width: 1000px;        
    padding: 30px;
  }
  .txt {
   max-width: 1000px;        
  }
  .prj {
    min-width: 350px;
  }
  #projectpage {
    width: 80vw;
    height: 80vh;
    top:10vh;
    left:10vw;
    bottom: 10vw;
    right: 10vw;
  }
}

@media (min-width: 1200px) { 
  .img {
    max-width: 1000px;        
    padding: 30px;
  }
  .txt {
    max-width: 1000px;        
  }
  .prj {
    min-width: 500px;
  }
   body, html {     
      font-size: 120%;
    }
}