#wrapper {
	width: 1460px;	
}
/* HEADER */




section {
	margin: 15px;
}
section .link {
	font-size: 120px;
}
#blog {	
	width: 735px;	
}
#blog .link {
	font-size: 	102px;
}
#portfolio {
	width: 620px;	
}
#portfolio .link {
	font-size:  80px;
}
#info {
	width: 544px;
}
#info .link {
	font-size: 83px;
}
#shop {
	width: 810px;
}
#shop .link {
	font-size: 91px;
}
.boven {
	height: 480px;
}
.onder {
	height: 220px;
}

/*portfolio deep */
.p-img {
	width: 970px;
	height: 647px;
	margin-right: 30px;
}
.p-deep-bar {
	font-size: 30px;	
	padding:23px;
}
/*info */

.i-img {
	width: 700px;
	height: 330px;
	font-size: 112.5px;	
}