#wrapper {
	width: 1460px;	
}
/* HEADER */




section {
	margin: 20px;
}
section .link {
	font-size: 120px;
}
#blog {	
	width: 750px;	
}
#portfolio {
	width: 614px;	
}
#info {
	width: 553px;
}
#shop {
	width: 812px;
}
.boven {
	height: 559px;
}
.onder {
	height: 275px;
}

/*portfolio deep */
.p-img {
	width: 970px;
	height: 970px;
	margin-right: 30px;
}
.p-deep-bar {
	font-size: 30px;	
	padding:23px;
}
/*info */

.i-img {
	width: 700px;
	height: 330px;
	font-size: 150px;	
}