header a {
	display: inline-block;
}
#wrapper {
	width:98vw;
}
#menu {
	background: url('img/menu-uit.png');
}


section {
	margin: 1vw;
}
.section {
	font-size: 90px;	    
}
#blog {	
	width: 51vw;	
}
#portfolio {
	width: 42vw;
}
#info {
	width: 38vw;
		order: 0;
}
#shop {
	width: 55vw;
}
.boven {
	height: 38vw;
}
.onder {
	height: 19vw;
}
.p-deep {

}
.p-img {
	margin-left:0;
	margin-right: 2vw;
	width: 66vw;
	height: 66vw;	
	float: left;
}
.p-deep-bar {
	padding:1.5vw;
	font-size:2vw;	
}

/*info */
.info {
	column-count: 2;
}

.i-img {
	width: 49vw;
	height: 23vw;
	font-size: 10vw;	
}