/* HEADER */
#header-mobile {
	display: none;
}
#home {
	align-self: flex-start;
	margin: 0;
	flex: auto; 

}
#home a {
	width:303px;
	height:205px;
	margin: 0; 
    background-image: url(img/logo.png);
}
#home a:hover {	
	opacity: 0.7;
}
#header {	
	width: 100%;
	height: 215px;
	display:flex;
	justify-content: flex-end;
}

header a{
	font-weight: bold;
	font-size: 28px;
	color: #000;
	margin-top: 35px;
    margin-right: 20px;
    transition: color 100ms ease;
    display:inline-block;
}
header a:hover {
	color:#A5C382;
}
#menu {
	background: url('img/menu-uit.png');
	width: 7px;
	height:23px;
	margin-top:40px;
	margin-right:27px;
}

#wrapper {
	width:98vw;
}

section {
	margin: 1vw;
}
.section {
	font-size: 90px;	    
}
#blog {	
	width: 51vw;	
}
#portfolio {
	width: 42vw;
}
#info {
	width: 38vw;
		order: 0;
}
#shop {
	width: 55vw;
}
.boven {
	height: 38vw;
}
.onder {
	height: 19vw;
}
.p-deep {

}
.p-img {
	margin-left:0;
	margin-right: 2vw;
	width: 66vw;
	height: 66vw;	
	float: left;
}
.p-deep-bar {
	padding:1.5vw;
	font-size:2vw;	
}

/*info */
.info {
	column-count: 2;
}

.i-img {
	width: 49vw;
	height: 23vw;
	font-size: 10vw;	
}