html, body {
	margin: 0px;
	padding: 0px;
	font-family: 'Ubuntu', sans-serif;	
}
body {
	overflow-y: scroll;
}

#header {
	display: none;
}
#header-mobile {	
	width: 100%;
	
	
}
#header-mobile.active a {
	height: 80px;
	visibility: visible;
	font-size: 48px;
}
#header-mobile a {
	display: flex;
	visibility: hidden;
	width: 100%;
	border-bottom: solid 1px #A5C382;
	font-size: 1px;
	text-align: center;
	color:black;
	height: 0px;
	align-items: center;
	justify-content: center;
	transition: 400ms;

}
#header-mobile a:visited {
	color: #5c6d47;
}
#header-mobile a:hover {
	color: #A5C382; 
}
#home-mobile {
	align-self: flex-start;
	margin: 0;
	flex: auto; 

}
#home-mobile a {
	width:236px;
	height:160px !important;
	visibility: visible !important;
	margin: 0; 
    background-image: url(img/logo.png);
    display: block;
    background-size: cover;
    border-bottom: none;
}
#home-mobile a:hover {	
	opacity: 0.7;
}
#hamburger {
	background: url('img/menu-in.png');
	background-size: contain;
	width:44px;
	height:45px;
	float:right;
}
#menu-mobile {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 27px;
	right:27px;
	cursor: pointer;
}
#hamburger:hover {
background-color: #A5C382;
background-blend-mode: lighten;	
}
#wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
a {
	text-decoration: none;
	border: none;
	outline:none;
}
img {
text-decoration: none;
	border: none;	
	outline: none;
}
a.active {
	color: #A5C382;
}
a.active:hover {
	color:#5c6d47;
}

/* MAIN CONTENT */
#content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
section {
	margin: 10px;
}
.label {
	background-size: cover !important;	
	color: white;
	font-weight: bold;
}
.label > a {
	color: rgba(255,255,255,0);
	transition: color 500ms ease;
}
.label:hover > .link, .mobiel  .link {
	background: rgba(0,0,0,0.5);
}
.label:hover > a, .mobiel  .label  a {
	color: rgba(255,255,255,1);	
}
.link {
	width:100%;
	height: 100%;	
	background: rgba(0,0,0,0);
	transition: background-color 200ms ease;
	justify-content: center;
	align-items: center;
	font-size: 10vw;
	display: flex;
}

.section label {
	display: inline-flex;
	cursor: pointer;
}
#blog {
	background: url('img/blog.png');
	width: 90vw;	
}
#portfolio {
	background: url('img/portfolio.jpg');
	width: 90vw;	
}
#info {
	background: url('img/info.jpg');
	width: 90vw;	
	order: 2;
}
#shop {
	background: url('img/shop.jpg') ;
	width: 90vw;

}
.boven,.onder {
	height: 20vw;
}
/* PORTFOLIO*/
.portfolio {
	width: 448px;
	height: 448px;	
	margin: 10px;
	display: flex;
	background-size: cover !important;
}
.p-c {
	width:100%;
	height: 100%;	
	font-family: sans-serif;
	color: white;
	font-weight: bold;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	background: rgba(0,0,0,0);
	transition: background-color 200ms ease;
	font-size: 24px;
	flex-direction: column;	
}
.p-c:hover {
	background: rgba(0,0,0,0.77);
}
.p-c h2 {
	font-variant-caps: small-caps;
	margin: 0 0 8px 8px;
}
.p-c p {
	margin: 0 0 8px 8px;
}
#p1 {		
	background: url('img/p1.png');
}
#p2 {		
	background: url('img/p2.png');
}
#p3 {		
	background: url('img/p3.png');
}
#p4 {		
	background: url('img/p4.png');
}
#p5 {		
	background: url('img/p5.png');
}
#p6 {		
	background: url('img/p6.png');
}

/*portfolio-deep */
.p-deep, .info {
	margin-left:1vw;
	margin-right:1vw;
	font-size: 24px;
}
.p-img {
	background:url('img/p-big.png');
	background-size: cover;
	margin-left: 1vw
	margin-right: 1vw;
	margin-bottom: 1vw;
	width: 96vw;
	height: 96vw;
	display: flex;
	align-items: flex-end;
}
.p-deep-bar {
	width:100%;
	display: flex;
	justify-content: space-between;
	font-size: 4vw;
	color:white;
	font-weight: bold;
	background: rgba(0,0,0,0.5);
	padding:3vw;
}

/*info */
.info {
	column-count: 1;
}

.i-img {
	background:url('img/info-beeld.jpg');
	background-size: cover;
	width: 96vw;
	height: 45vw;
	color:white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20vw;
	font-weight: bold;
}